*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    background-color: #F0DB4F;
}


/* My Preloader */
#preloader {
    background: #F0DB4F;
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 2;
}